pre {
  color: palegoldenrod;
  font-size: 19px;
  user-select: none;
}
h1 {
  color: blue;
  user-select: none;
}
body {
  background: url(./nen/nen2.jpg);
  user-select: none;
}
h2 {
  color: greenyellow;
}
a {
  text-decoration: none;
  color: indianred;
}
.demo {
  text-align: center;
  font-size: 30px;
  color: deeppink;
}
.demo2 {
  color: deepskyblue;
  font-size: 30px;
}
h5 {
  color: palegoldenrod;
  font-size: 29px;
  user-select: none;
}
